{% extends "base.html" %}
{% block main %}
<ul>
    <div class="sample">
        {% for x in books %}
        <img src="{{ url_for('static', filename='images/'+x.img)
        }}" alt="{{x.title}}" title="{{x.title}}">
        {% endfor %}
    </div>
</ul>
{% endblock %}




<!-- <!doctype html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    </head>
    <body>
        <h1>{{ title }}</h1>
        <ul>
            {% for x in names %}
            <li>{{ x }}</li>
            {% endfor %}
        </ul>
        <ul>
            {% for x in data %}
            <div>
                <ul>
                <li>{{ x.author }}</li>
                <li>{{ x.title }}</li>
                <li>{{ x.price }}</li>
                <li><img src="{{ url_for('static', filename='images/'+x.img) }}" alt=""></li>
            </div>
            {% endfor %}
        </ul>
    </body>
</html> -->